{% extends 'base.html' %}

{% block content %}

<h2>O projekte</h2>

<p><b>Čo používa</b> nepravidelne prináša rozhovory so známymi a zaujímavými ľudmi z československej IT komunity. Pýtame sa, aký hardware a software používajú k práci i zábave. Inšpiráciou nám je originál <a href="http://usesthis.com" title="Čo používajú ďaľší známi ľudia">The Setup</a>. Všetko na tomto webe je licencované pod <a title="A Creative Commons license" href="http://creativecommons.org/licenses/by-sa/2.5/au/">Attribution-Share Alike</a>.
</p>
<p>Projekt pre Vás pripravili <a href="http://milancermak.com">Milan Čermák</a> a <a href="http://synopsi.com">Rastislav Turek a.k.a. Synopsi</a>. Kód, na ktorom nám to cele beží, je dostupný <a href="http://github.com/milancermak/copouziva/" title="Django app, jadro projektu Čo používa">na GitHube</a>. Pre najnovšie info nás <a href="http://twitter.com/copouziva" title="Oficiálny Twitter kanál pre projekt">sledujte na Twitteri</a>.
</p>

{% endblock %}

{% block footer %} {% endblock %}
