{% extends 'base.html' %}

{% block title %}Čo používa {{ person.name }}{% endblock %}

{% block content %}
<article class="overview">
    <img class="portrait" width="500" height="335" src="{{ person.image_full.url }}" alt="{{ person.name }}" />
    <h2 class="person">{{ person.name }}</h2>
    <p class="summary">{{ person.occupation }}</p>
    
    <time datetime="{{ person.date_published|date:"Y-m-d" }}">Publikované {{ person.date_published|date:"d. m. Y" }}</time>
</article>

<article class="contents">
    <h3>Kto si a čomu sa venuješ?</h3>
    {{ person.a1|safe }}

    <h3>Aký hardware používaš?</h3>
    {{ person.a2|safe }}

    <h3>A aký software?</h3>
    {{ person.a3|safe }}

    <h3>Ako by vyzerala tvoja konfigurácia snov?</h3>
    {{ person.a4|safe }}
</article>
<br />
<!-- Facebook like button -->
<iframe src="http://www.facebook.com/plugins/like.php?href=http%253A%252F%252Fcopouziva.cz%252F{{ person.url }}&amp;layout=standard&amp;show_faces=false&amp;width=500&amp;action=like&amp;font=lucida%2Bgrande&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:35px;" allowTransparency="true"></iframe>
<!-- Tweet this button -->
<a href="http://twitter.com/share" class="twitter-share-button" data-text="{{ person.name }}" data-count="horizontal" data-via="copouziva">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

{% endblock %}
